<% provide(:title, "post") %>
<h4>本のタイトル</h4>
<p class = "item"><%= @post.title %></p>
<h4>この本を読むことがなぜ重要なのか</h4>
<p class = "item"><%= simple_format(@post.important) %></p>
<h4>この本から学びたい興味あると思うことを３つ</h4>
<p class = "item"><%= simple_format(@post.interest) %></p>
<h4>章ごとに質問化して答えを予測</h4>
<p class = "item"><%= simple_format(@post.question) %></p>
<h4>章ごとの役割、論理構造を予測</h4>
<p class = "item"><%=simple_format(@post.what_content) %></p>
<h4>章ごとの疑問に答ていく</h4>
<p class = "item"><%= simple_format(@post.chapter) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.what_problem) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.solution) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.start) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.end) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.different) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.most) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.agreement) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.intersting) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.sentence) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.heart) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.dull) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.difficult) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.titles) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.foreword) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.summary) %></p>
<h4>あ</h4>
<p class = "item"><%= simple_format(@post.content) %></p>
