<h4>本のタイトル</h4>
<li><%= @post.title %></li>
<h4>あ</h4>
<li><%= @post.what_content %></li>
<h4>あ</h4>
<li><%= @post.question %></li>
<h4>あ</h4>
<li><%= @post.interest %></li>
<h4>あ</h4>
<li><%= @post.important %></li>
<h4>あ</h4>
<li><%= @post.what_problem %></li>
<h4>あ</h4>
<li><%= @post.solution %></li>
<h4>あ</h4>
<li><%= @post.start %></li>
<h4>あ</h4>
<li><%= @post.end %></li>
<h4>あ</h4>
<li><%= @post.different %></li>
<h4>あ</h4>
<li><%= @post.most %></li>
<h4>あ</h4>
<li><%= @post.agreement %></li>
<h4>あ</h4>
<li><%= @post.intersting %></li>
<h4>あ</h4>
<li><%= @post.sentence %></li>
<h4>あ</h4>
<li><%= @post.heart %></li>
<h4>あ</h4>
<li><%= @post.dull %></li>
<h4>あ</h4>
<li><%= @post.difficult %></li>
<h4>あ</h4>
<li><%= @post.titles %></li>
<h4>あ</h4>
<li><%= @post.foreword %></li>
<h4>あ</h4>
<li><%= @post.summary %></li>
<h4>あ</h4>
<li><%= @post.chapter %></li>
<h4>あ</h4>
<li><%= @post.content %></li>
